html,body{
    margin: 0;
    padding: 0;
    background: #FC466B; 
    background: -webkit-linear-gradient(to right, #3F5EFB, #FC466B);  
    background: linear-gradient(to right, #3F5EFB, #FC466B); 
    background-position:center;
    background-image:url(../images/bg-moon.jpg);
}

/* 

also try this after some time
    background: #DA4453;  
    background: -webkit-linear-gradient(to right, #89216B, #DA4453);  
    background: linear-gradient(to right, #89216B, #DA4453); 

*/

.ripple-effect{
    width: 100%;
    height: 90vh;
}




